.event-details {
  display: flex;
  align-items: stretch;
  padding-bottom: 30px;

  .left {
    flex-grow: 1;

    .result {
      min-height: 330px;
    }
  }

  .right {
    flex-shrink: 0;
    width: 331px;
    margin-left: 10px;
  }
}
